asgiref==3.12.1
dj-database-url==2.2.0
Django==6.0.7
psycopg2-binary==2.9.9
sqlparse==0.5.1
typing_extensions==4.12.2
whitenoise==6.7.0
python-dotenv==1.0.1
celery==5.4.0
razorpay==1.4.2
reportlab==4.2.5
qrcode[pil]==8.0
redis==5.2.1
celery==5.4.0
redis==5.0.8
reportlab==4.2.2
qrcode[pil]==7.4.2